body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #621313;
    padding: 20px;
    overflow: auto;
}

.header-logo img {
    max-width: 30vw;
    height: auto;
    margin-bottom: 0px;
    float: left;
}

.titulonav, .subtitulonav {
    margin: 40px;
    color: #fff;
}

nav.pagesnav {
    float: right;
}

nav.pagesnav ul {
    list-style-type: none;
    margin-top:100px;
    padding: 0;
}

nav.pagesnav ul li {
    display: inline;
    margin-right: 20px;
}

nav.pagesnav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
    clear: both;
}

.solicitar-presupuesto {
    background-color: #333; 
    padding: 10px;
    width: 100%;
    margin: 0 auto; 
    box-sizing: border-box; 
    overflow: auto; 
}

.solicipres {
    margin: 0; 
    color: #ffffff;
    float: left;
}

.buttonpres {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #b30000;
    text-decoration: none;
    border: 2px solid #b30000;
    border-radius: 5px; 
    float: right;
}
.quienes-somos {
    position: relative;
}

.contenido-imagen {
    position: relative; 
    .contenido-imagen img {
        float: right;
        width: 200px;
        height: 200px;
    }
}
.contenido-imagen img {
    float: right;
    margin-left: 20px;
}
.parrafoquienes {
    width: calc(100% - 170px); 
}
.contenido-imagen h3 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
.imagenesaside {
    overflow: hidden;
  }
  
  .imagenesaside a {
    float: left;
    width: calc(33.33% - 10px);
    margin-right: 10px; 
  }
  
  .imagenesaside img {
    width: 100%; 
    height: 60vh;
    object-fit: cover; 
  }
  
.opinions {
    list-style: none;
    padding: 0;
}

.opinions li {
    display: inline-block;
    width: calc(33.33% - 20px);
    margin-right: 20px; 
    vertical-align: top; 
    box-sizing: border-box;
}

.opinions li:last-child {
    margin-right: 0;
}

.opinions li img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    overflow: auto;
}

.footer-section {
    width: 30%;
    box-sizing: border-box;
    float: left;
    margin-right: 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
    text-decoration: none;
}

.contactfooter {
    color: #fff;
    text-decoration: none;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}


.footer-section ul li {
    margin-bottom: 5px;
}


.footer-section ul li a {
    text-decoration: none;
    color: #fff;
}


* {
    margin: 0;
    padding: 0;
}

/*body leon y manada*/

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.headernav {
    background-color: #72151D;
}

div.navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
    color: #f0f0f0;
}

div.navbar-collapse ul.navbar-nav li.nav-item a.nav-link:hover {
    color: #636363;
}


.logo {
    width: 100px;
}


.solicitar-presupuesto {
    background-color: #333; 
    padding: 10px;
    width: 100%;
    height: auto;
}

.solicipres{
    color: #fff;
    font-size: 1rem;
}
.buttonpres {
    background-color: #ffffff;
    color: #72151D;
    border: 2px solid #72151D;
    height: auto;
    font-size: 1rem;
    font-weight: 700;
    
}
.buttonpres:hover {
    background-color: #b30000;
    color: #ffffff;
}

/*subtitulos y divisores*/

.subt {
    background-image: url(../assets/img/maquinola\ \(1\).jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom;
    height: 25vh;
    color: #fff;
    width: 100%;
}



.fo {
    font-size: 14px;
}

/* Estilos para pantallas grandes (lg) */
@media (min-width: 768px) {
    .fo {
        font-size: 20px;
    }
}

/*img y texto index*/

.contenido-imagen {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.quienestext {
    text-align: justify;
}

/*aside index*/

.carousel-inner img {
    height: 200px;
}

.imgaside {
    height: 50vh;
}

/*cards clientes y distinciones*/

.cardcli{
    border: #72151D solid 2px;
    background-color: #f3f3f3;
}

.premios {
    background-color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    p {
        font-size: small;
    }
    h3 {
        font-size: large;
    }
}

/*footer*/

.datafooter {
    background-color: #333;
    font-size: small;
    color: #fff;
    border: none;
    height: auto;
}

.datafooter li {
    list-style: none;
    background-color: #333;
    text-align: start;
}

.tituloestamos, .tituloredes {
    color: #fff;
}

.footer__sectionredes ul li img {
    transition: filter 0.5s;
    filter: grayscale(100%);
}

.footer__sectionredes ul li img:hover {
    filter: grayscale(0);
}

.tituloredes {
    margin-bottom: 35px;
}
.liredes {
    list-style: none;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section li {
    color: #fff;
    list-style: none;
}


footer {
    background-color: #333;
    border-top: #72151D solid 15px;
    height: auto;
}

/* Ajuste para dispositivos móviles */
@media (max-width: 992px) {
    .row > div[class^="col-"] {
        max-width: 100%;
    }
}

/*contacto*/

h3 {
    font: 0.5rem;
}

.send {
    background-color: #fff;
    color: #72151D;
    border: #72151D solid 2px;
}

.send:hover  {
    background-color: #b30000;
    color: #ffffff;
    border: #72151D solid 2px;
}

.clear {
    background-color: #333;
    color: #fff;
    border: #72151D solid 2px;
}

.clear:hover{
    background-color: #b30000;
    color: #ffffff;
    border: #72151D solid 2px;
}

.formcontacto {
    border: #72151D solid 2px;
    margin-left: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    height: auto;
}

.casamatriz {
    border: #72151D solid 2px;
    height: auto;
    margin-bottom: 15px;
    padding-bottom: 15px;
    margin-left: 20px;
}

/*maquinaria y servicios*/

.imagen-container {
    position: relative;
    display: inline-block; 
    overflow: hidden;
  }

  .imagen-container img {
    display: block;
    width: auto; 
  }

  .imagen-container:hover .card-overlay {
    opacity: 0.8;
  }
  .card-overlay {
    position: absolute;
    top: 10%; 
    left: 10%; 
    width: 80%; 
    height: 80%;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-overlay p {
    color: rgba(255, 255, 255, 0.522);
}

.cardretro {
    background-color: #ffffff;
}

.gridservicios {
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-template-rows: auto auto auto auto   ;
    gap: 10px;
    grid-template-areas:
        "gr1 gr1 gr2"
        "gr3 gr3 gr2"
        "gr4 gr5 gr5"
        "gr4 gr6 gr6";
}

.gr1 {
    grid-area: gr1;
}
.gr2 {
    grid-area: gr2;
}
.gr3 {
    grid-area: gr3;
}
.gr4 {
    grid-area: gr4;
}
.gr5 {
    grid-area: gr5;
}
.gr6 {
    grid-area: gr6;
}