* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.headernav {
    background-color: #72151D;
}

div.navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
    color: #f0f0f0;
}

div.navbar-collapse ul.navbar-nav li.nav-item a.nav-link:hover {
    color: #636363;
}


.logo {
    width: 100px;
}


.solicitar-presupuesto {
    background-color: #333; 
    padding: 10px;
    width: 100%;
    height: auto;
}

.solicipres{
    color: #fff;
    font-size: 1rem;
}
.buttonpres {
    background-color: #ffffff;
    color: #72151D;
    border: 2px solid #72151D;
    height: auto;
    font-size: 1rem;
    font-weight: 700;
    
}
.buttonpres:hover {
    background-color: #b30000;
    color: #ffffff;
}

.subt {
    background-image: url(../assets/img/movimientosuelocordobes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 25vh;
    color: #fff;
}

.fo {
    font-size: 14px;
}

/* Estilos para pantallas grandes (lg) */
@media (min-width: 768px) {
    .fo {
        font-size: 20px;
    }
}

.contenido-imagen {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.quienestext {
    text-align: justify;
}

.carousel-inner img {
    height: 200px; /* Puedes ajustar este valor según sea necesario */
}

.imgaside {
    height: 50vh;
}

.tituloclientes {
    margin-left: 25px;
}

.cardcli{
    border: #72151D solid 2px;
    background-color: #f3f3f3;
}

.datafooter {
    background-color: #333;
    font-size: small;
    color: #fff;
    border: none;
    height: auto;
}

.datafooter li {
    list-style: none;
    background-color: #333;
    text-align: start;
}

.tituloestamos, .tituloredes {
    color: #fff;
}

.footer__sectionredes ul li img {
    transition: filter 0.5s;
    filter: grayscale(100%);
}

.footer__sectionredes ul li img:hover {
    filter: grayscale(0);
}

.tituloredes {
    margin-bottom: 35px;
}
.liredes {
    list-style: none;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section li {
    color: #fff;
    list-style: none;
}


footer {
    background-color: #333;
    border-top: #72151D solid 15px;
    height: auto;
}

/* Ajuste para dispositivos móviles */
@media (max-width: 992px) {
    .row > div[class^="col-"] {
        max-width: 100%;
    }
}

h3 {
    font: 0.5rem;
}

.send {
    background-color: #fff;
    color: #72151D;
    border: #72151D solid 2px;
}

.send:hover  {
    background-color: #b30000;
    color: #ffffff;
    border: #72151D solid 2px;
}

.clear {
    background-color: #333;
    color: #fff;
    border: #72151D solid 2px;
}

.clear:hover{
    background-color: #b30000;
    color: #ffffff;
    border: #72151D solid 2px;
}

.formcontacto {
    border: #72151D solid 2px;
    margin-left: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    height: auto;
}

.casamatriz {
    border: #72151D solid 2px;
    height: auto;
    margin-bottom: 15px;
    padding-bottom: 15px;
    margin-left: 20px;
}

.card-img-overlay {
    display: none;
    background: rgba(0, 0, 0, 0.7);
}

.card:hover .card-img-overlay {
    display: flex;
}

.card-img {
    transition: .5s ease;
}

.card:hover .card-img {
    opacity: 0.3;
}