

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    color: $gris;
    margin: 0;
    padding: 0;
}
.headernav {
    background-color: $color-principal;

    div.navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
        color: #f0f0f0;
        &:hover {
            color: #636363;
        }
    }
}


.logolym {
    text-indent: 9999px;
    background-image: url(../assets/img/logoleonymanada.png);
    background-size: 95px 61px;
    background-repeat: no-repeat;
    width: 100px;
    height: 65px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 1));
    &:hover{
    animation: bounce 1s; /* Aplica la animación al pasar el cursor */
    }
}

@keyframes bounce {
    0% {
        transform: scale(1); /* Escala normal al inicio */
    }
    50% {
        transform: scale(1.1); /* Escala aumentada en la mitad de la animación */
    }
    100% {
        transform: scale(1); /* Vuelve a la escala normal al final */
    }
}

