// Estilos para el formulario de contacto
h3 {
    font: 0.5rem;
}

.send {
    background-color: $blanco;
    color: $color-principal;
    border: $color-principal solid 2px;

    &:hover {
        background-color: $color-secundario;
        color: $blanco;
        border: $color-principal solid 2px;
    }
}

.clear {
    background-color: $color-secundario;
    color: $blanco;
    border: $color-principal solid 2px;

    &:hover {
        background-color: $gris;
        color: $blanco;
        border: $color-principal solid 2px;
    }
}

.formcontacto {
    
    margin-left: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    height: auto;
}

.map {
    width: 100%;
    height: 60vh;
    mask-image: linear-gradient(to top, black 90%, transparent);

}