.subt {
    background-image: url(../assets/img/Machine.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    color: #fff;
    max-width: 100%;
    mask-image: linear-gradient(black 90%, transparent);
}

.subt:hover {
    transform: scale(1.2); 
    transition: transform 5s ease;
}


.fo {
    font-size: 1.5rem;
    font-weight: 600;
    position: absolute;
    top: 35%;
    left: 70%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.posfo {
    font-size: 1rem; /* Ajusta el tamaño de la fuente según sea necesario */
    font-weight: 300; /* Ajusta el peso de la fuente según sea necesario */
    position: absolute;
    top: calc(40% + 10px); /* Coloca el enlace debajo del elemento .fo */
    left: 75%; /* Centra horizontalmente el enlace */
    transform: translateX(-50%);
    opacity: 0; /* Inicialmente oculta el enlace */
    transition: opacity 1s ease;
}

.subt:hover .fo {
    opacity: 1; /* Muestra tanto .fo como .posfo al hacer hover en .subt */
}
.subt:hover .posfo {
    opacity: 0.8; /* Muestra tanto .fo como .posfo al hacer hover en .subt */
}

.divsor {
    color: $color-principal;
    background-color: $color-principal;
    border-style: solid ;
    width: 40vw;
    height: 5px;
}