.subt {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 60vh;
    color: $blanco;
    max-width: 100%;
}


@media (max-width: 767px) {
    .subt {
        height: 30vh;
        background-image: url(../assets/img/Machinemobile.jpg);
    }
}


@media (min-width: 768px) {
    .subt {
        background-image: url(../assets/img/Machine.jpg);
    }
}



.subtext{
    margin: 20vh 10vw 0vh 10vw;
    width: auto;
    height: 50vh;
}


@media (max-width: 768px) {
    .subtext {
    margin: 5vh 5vw ;
    width: auto;
    }
}


@media (min-width: 768px) {
    .subtext {
        opacity: 0;
        animation: fadeIn 2s forwards;
    }

    @keyframes fadeIn {
        to {
            opacity: 0.8;
        }
    }
}

.posfo {
    width: 12vw;
    height: 7vh;
    margin-right: 20vw;
    &:hover{
    animation: bounce 1s;
}
}
@media (max-width: 768px) {
    .posfo {
        width: 28vw;
        height: 3vh;
        opacity: 0.8;
    }
}


.divsor {
    color: $color-principal;
    background-color: $color-principal;
    border-style: solid ;
    width: 40vw;
    height: 3px;
}
