.subt {
    background-image: url(../assets/img/Machine.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    color: #fff;
    max-width: 100%;
}


.subtext{
    margin: 25vh 10vw 0vh 0vw;
    width: 30vw;
    height: 50vh;
}

@media (max-width: 768px) {
    .subtext {
        margin-top: 35vh;
    }
    .subtext h3, .subtext span, .subtext h2, .subtext a {
        font-size: 95%;
    }
}



.posfo {
    width: 12vw;
    height: 7vh;
    margin-right: 20vw;
    &:hover{
    animation: bounce 1s;
}
}


.divsor {
    color: $color-principal;
    background-color: $color-principal;
    border-style: solid ;
    width: 40vw;
    height: 3px;
}
