// Estilos para imágenes y texto en el index
.contenido-imagen {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.quienestext {
    text-align: justify;
}

// Estilos para el aside en el index
.carousel-inner img {
    height: 200px;
}

.imgaside {
    height: 50vh;
}

// Estilos para las tarjetas de clientes y distinciones

.experiencias {
    padding: 20px; /* Agregar un espacio alrededor del contenedor */
    height: 30vh;
}

.cardcli {
    background-color: #f3f3f3;
    transition: transform 0.5s, box-shadow 0.5s;
    flex: 1 1 300px; /* Flex grow, flex shrink, flex basis */
    margin-right: 10px; /* Agregar margen derecho para separar las tarjetas */
    margin-left: 10px; /* Agregar margen izquierdo para separar las tarjetas */
    margin-bottom: 20px;
    &:hover {
        transform: scale(1.5);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
}


// Estilos para la sección de maquinaria y servicios
.imagen-container {
    position: relative;
    display: inline-block; 
    overflow: hidden;

    img {
        display: block;
        width: auto; 
    }

    &:hover .card-overlay {
        opacity: 0.8;
    }
}

.card-overlay {
    position: absolute;
    top: 10%; 
    left: 10%; 
    width: 80%; 
    height: 80%;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: rgba(255, 255, 255, 0.522);
    }
}

.cardretro {
    background-color: #ffffff;
}

.gridservicios {
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-template-rows: auto auto auto auto   ;
    gap: 10px;
    grid-template-areas:
        "gr1 gr1 gr2"
        "gr3 gr3 gr2"
        "gr4 gr5 gr5"
        "gr4 gr6 gr6";

    .gr1 { grid-area: gr1; }
    .gr2 { grid-area: gr2; }
    .gr3 { grid-area: gr3; }
    .gr4 { grid-area: gr4; }
    .gr5 { grid-area: gr5; }
    .gr6 { grid-area: gr6; }
}