/*mixin*/

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Map*/

$text-color-sizes: (

"subtitles": (
    "color": #f5f5f5,
    "font-size": 38px,
),
"subsubtitles": (
    "color": #f5f5f5,
    "font-size": 24px,
),
"parrafens": (
    "color": #333333,
    "font-size": 16px,
),
);

@media (max-width: 767px) {
    .subtitles {
        font-size: 48px;
    }

    .subsubtitles {
        font-size: 32px;
    }

    .parrafens {
        font-size: 22px; 
    }
}

.subtitles {
    color: map-get(map-get($text-color-sizes, subtitles), color);
    font-size: map-get(map-get($text-color-sizes, subtitles), font-size);
}

.subsubtitles {
    color: map-get(map-get($text-color-sizes, subsubtitles), color);
    font-size: map-get(map-get($text-color-sizes, subsubtitles), font-size);
}

.parrafens {
    color: map-get(map-get($text-color-sizes, parrafens), color);
    font-size: map-get(map-get($text-color-sizes, parrafens), font-size);
}